{
  "presets": [
    [
    "@babel/preset-env",
    {
      "useBuiltIns": "entry",
      "corejs": 3,
        "targets": {
          "esmodules": true,
          "node": true
        }
     }
    ]
  
    ],      
  "plugins":[
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-syntax-dynamic-import",
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "absoluteRuntime": true,
    //     "corejs": 3,
    //     "helpers": true,
    //     "regenerator": true,
    //     "useESModules": true,
    //   }
    // ],
    // "@babel/plugin-proposal-object-rest-spread",
    // "@babel/plugin-transform-classes",
    // "@babel/plugin-proposal-class-properties",
    // "@babel/plugin-transform-template-literals",
    // "babel-plugin-transform-builtin-extend"
  ],
}
