header#site-header(class='')
	a#img(title='Google Maps Platform Documentation',href='https://developers.google.com/maps/documentation/')
	a#title(title='Download the EXT from the Chrome Store',href='https://chrome.google.com/webstore/detail/google-maps-gator-extensi/mfgnkbjgianofpgdgbjdmligjdpdaekg')
T