head
    title=' Gator | Home '
    meta(name='description' content='This tool is meant to help you find the script required for the task and use Unify field values to build the URL query for your PLX script of choice.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')