main#main_menu(class='')
	#selector(class='buttonSelector')
		#plx_button(class='dropbtn')
			#spanPlx(class='buttonText')
		#map_button(class='dropbtn')
			#spanDyn(class='buttonText') 
		#ws_button(class='dropbtn')
			#spanWs(class='buttonText')
		#static_map_button(class='dropbtn')
			#spanStat(class='buttonText')