#main_view
    #firstHalf
        #menu_options
            ul
                li
                    a#plx_button(href='#', title='PLX module for API consumption reporting.', class='dropbtn menuItem')
                //- li
                //-     a#maps_button(href='#', title='Test Dynamic Map features, functionality, rendering, styling, and data accuracy.', class='dropbtn menuItem')
                //- li
                //-     a#static_map_button(href='#', title='Test Static Map features, functionality, responses and data accuracy.', class='dropbtn menuItem')
                //- li
                //-     a#ws_button(href='#', title='Client web-services, functionality, responses and data accuracy.', class='dropbtn menuItem')
                //- li
                //-     a#dremel_button(href='#', title='Generate DremelProxy URLs for Maps & Billing queries.', class='dropbtn menuItem')
    #secondHalf
        include section.pug