#main_view
    #firstHalf
        #menu_options
            ul
                li
                    a#plx_button(href='#',class='dropbtn menuItem')
                li
                    a#maps_button(class='dropbtn menuItem')
                li
                    a#dremel_button(class='dropbtn menuItem')
                li
                    a#static_map_button(href='#',class='dropbtn menuItem')
    #secondHalf
        include section.pug