*{
      margin: 0;
      padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-basis: 100%;
  height: 100vh;
  margin:0;
  padding: 0;
  overflow: hidden;
}

/* #map {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100%;
  flex-basis: 100%;
  order: 1;
  font-family: 'Roboto','sans-serif';
  padding-bottom: 25px;
  border: 2px solid #db4437;
  border-radius: 2px 0 0 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
} */

#map{
  visibility: hidden;
  align-self: center;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
  margin: 5px;
  z-index: 1;
  opacity: 1.7;
  height: 90%;
  flex-basis: 100%;
  font-family: 'Roboto','sans-serif';
  padding-bottom: 25px;
  padding-top: 25px;
  border: 2px solid #db4437;
  border-radius: 2px 0 0 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0s;
}

#map.show{
  visibility: visible;
  display: flex;
  text-align: center;
  position: relative;
}

#bars{ 
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  align-items: stretch;
  height: auto;
  background-color: #fff;
  top: 10px;
  left: 25%;
  font-family: 'Roboto','sans-serif';
  text-align: center;
  padding: 5px;
  border: 2px solid #db4437;
  border-radius: 2px 0 0 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#sideBar{
  position: relative;
  height: 100vh;
  flex-basis: 20%;
  order: 2;
  word-wrap: normal;
  overflow: hidden;
  font-family: 'Roboto','sans-serif';
  text-align: center;
  padding-bottom: 25px;
  border: 2px solid #db4437;
  border-radius: 2px 0 0 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#placeId,
#address,
#label,
#text,
#intro,
#littleWindow,
#warnings-panel,
#summary-panel{
  text-align: center;
}

#buttonRemover,
#streetView,
#reverseCoder {
  padding-left: 500px;
  padding: 8px;
}


#origin-input.controls,
#destination-input,
#address,
#submit,
#warnings-panel,
#summary-panel{
  display: flex;
  position: relative;
  flex-basis: auto;
  height: auto;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#inputs {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: center;
  order: 1;
}

#origin-input {
  order: 1;
}

#destination-input {
  order: 2;
}


#origin-input,
#destination-input,
#address, #submit{
  flex-basis: auto;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
}

#origin-input:focus,
#destination-input:focus,
#address:focus {
  border-color: #4d90fe;
}

#warnings-panel, #summary-panel{
  flex-basis: 100%;
  height: auto;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px;
}

#warnings-panel,
#summary-panel{
  text-overflow: auto;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


#warnings-panel {
  order: 2;
}

#summary-panel {
  order: 3;
}

#search {
  display: flex;
  position: relative;
  flex-direction: row;
  order: 4;
  justify-content: center;
  align-items: center;
}

#address {
  position: relative;
  order: 1;
}

#submit {
  position: relative;
  order: 2;
  color: #fff;
  background-color: #db4437;
  text-overflow: auto;
  font-size: 13px;
  font-weight: 300;
}


#littleWindow {
  display: flex;
  position: relative;
  flex-basis: auto;
  height: auto;
  margin: 0;
  padding-left: 2px;
  padding-top: 5%;
  padding-bottom: 5px;
  padding: 6px;
}


