* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

/* @media screen and (min-width:550px) and (min-height: 650px){
  #views_pane {
    flex-direction: column;
  }
} */

/* @keyframes borderColors { 
  0%   {border-color: green; border: 5px solid !important;}
  25%  {border-color: yellow; border: 5px solid !important;}
  50%  {border-color: blue; border: 5px solid !important;}
  65%  {border-color: red; border:  5px solid !important;}
  100% {border-color: white; border: 5px solid !important;}
 }

 section .card {
  animation-duration: .7s;
  animation-name: borderColors;
  animation-timing-function: ease-in-out;
  /* animation-iteration-count: infinite; */
 /* }

 .footer{
  animation-duration: 1s;
  animation-name: borderColors;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
 } */

* li {
  list-style: none;
}

input:focus {
  outline: 2px;
  outline-color: white;
  background-color: aliceblue;
}

input {
  overflow-x: overlay;
}

/* input::-webkit-scrollbar {
  display: none !important;
} */

body,
html {
  margin: 0;
  padding: 0;
  position: sticky;
}


body {
  display: flex;
  align-content: flex-start;
  flex: 0 0 auto;
  /* flex-basis: 100%; */
  /* min-width:640;
  min-height:480; */
  flex-direction: row;
  font-family: 'Oxygen', sans-serif;
  font-weight: 200;
  background-color: #F5F5F5;
}

.visible {
  display: flex !important;
  visibility: visible;
}

#container {
  display: flex;
  height: calc(100vw * (9/16));
  /* min-width:640;
  min-height:480; */
  /* flex: auto; */
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  /* overflow: visible; */
  overflow-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 0;
  height: 100vh;
  right: 0;
  left: 0;
  position: fixed;
  order: 1;
  margin-left: auto;
  margin-right: auto;
}
/* Background */

#background {
  display: flex;
  flex-basis: 100%;
  background: #fff;
  bottom: 0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -100;
 }

::-webkit-scrollbar {
  height: 8px;
  overflow: visible;
  background: white;
  width: 8px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  visibility: hidden;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 127, 170);
  opacity: .65;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 2px 2px 4px;
  min-height: auto;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

.border {
  border: 1px solid red;
}

/* Header */
header {
  display: flex;
  position: relative;
  /* flex: auto; */
  flex-wrap: nowrap;
  flex-basis: 6%;
  min-height: 35px;
  max-height: 50px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  order: 1;
  z-index: 500;
}

header * {
  font-size: 15px;
}

header #left_menu {
  display: flex;
  color:   rgb(27, 127, 170);
  background-color: white;
  flex: auto;
  flex-direction: row;
  flex-basis: 20%;
  flex-grow: 1;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

.header {
  top: 0;
  bottom: 0;
  padding: .2em .2em .2em .2em;
  box-shadow: 0px 0px 0px 0 white, 0px 4px 6px 2px gray, 2px 2px 2px 0 black;
  /* border: .2em solid rgb(27, 127, 170) !important; */
  /* border-bottom: none !important;
  border-top: .2em solid !important; */
}

#main_menu {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-basis: 100%;
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

#main_menu ul {
  display: flex;
  text-decoration: none;
  margin-left: 0;
  margin-right: auto;
}

header #right_menu {
  display: flex;
  flex: auto;
  flex-grow: 3;
  flex-wrap: initial;
  /* flex-basis: 100%; */
  flex-direction: row;
  overflow-wrap: normal;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-end;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  order: 2;
  clear: right;
}

#right_menu #title {
  display: flex;
  flex: flex-shrink;
  position: relative;
  overflow-wrap: wrap;
  background: url('title.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  height: 33.5px;
  width: 100px;
  clear: right;
  margin: 1em;
  padding: 0;
  z-index: 2;
  order: 2;
  margin-left: 0;
  margin-right: auto;
}

#right_menu #img {
  display: flex;
  flex: flex-shrink;
  position: relative;
  overflow-wrap: wrap;
  background: url('lockup.png');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  height: 45px;
  width: 300px;
  margin: 2em;
  z-index: 1;
  order: 1;
  margin-left: 0;
  margin-right: auto;
}

/* The container <div> - needed to position 
   the dropdown menu */


#menu_options {
  display: none;
  min-height: 100%vh;
  /* margin-left: 5; */
  padding: 1em;
  align-items: baseline;
  justify-content: start;
  /* align-self: flex-start; */
  flex-basis: 100%;
  background-color:  rgb(27, 127, 170);
  opacity: .75;
  /* background-color: rgb(27, 127, 170); */
  border-bottom: .5em double white;
  border-right: .5em double white;
}

#menu_button {
  outline: none;
  text-decoration: none;
}

#menu_options ul {
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#menu_options * {
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  outline: none;
  color: white;
  min-width: 100%;

}

#menu_options ul li a {
  padding: 1em;
  flex: auto;
  min-width: 100%;
  flex-basis: 100%;
}

#menu_options ul li {
  flex: auto;
  min-width: 100%;
  flex-basis: 100%;
}

/* #menu_options ul li :last-child :not(.menuTitle) {
  border-right: double green;
} */

/* #menu_options ul :not(.menuTitle) {
  border-left: double green;
} */
.menu .menuTitle, .menu .menuItem {
  display: flex;
    flex: auto;
    color: #0d64bc;
    justify-content: center;
    text-align: center;
    padding: 1.5em;
}


/* dropdown menu items */

.menuItem:hover {
  /*background-color: #0d64bc;*/
  color: white;
  cursor: pointer;
  background-color: green;
  box-shadow:2PX 2px 2px 0  rgba(60, 64, 67, 0.30), 0 1px 6px 2px  rgba(60, 64, 67, 0.15);
}

.menuItem:active {
  background-color: purple;
  box-shadow: 0 3px 4px 0 rgba(60, 64, 67, 0.30), 0 5px 12px 2px rgba(60, 64, 67, 0.15);
}

/*  Main View >> Menu and Panes container */
#main_view {
  display: flex;
  flex-basis: 100%;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  align-self: auto;
  justify-content: space-between;
  order: 2;
  margin-left: 0;
  margin-right: 0;
}

#firstHalf {
  display: none;
  visibility: hidden;
  flex-basis: 15%;
  height: 100%vh;
  flex: auto;
  justify-content: center;
  position: fixed;
  order: 1;
  padding-left: .2em;
  margin-right: auto;
  z-index: 499; /* 1 minus the header which is at 500*/
  /* overflow: hidden; */
  transition: all 2s;
}

#secondHalf {
  display: flex;
  /* flex: auto; */
  flex-wrap: wrap; 
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  order: 2;
  padding: .5em;
  margin-left: 0;
  margin-right: 0;
  min-width: auto;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 9;
}

/*  Button container for component close/exit buttons 

*/
.buttonContainer {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: row;
  flex-basis: auto;
  height: auto;
  overflow: visible;
}


.exitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-direction: row;
  border-radius: 4px;
  background-color: #f44260;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 6px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  position: relative;
}

/*

views_pane & card/component containers

*/

#views_pane {
  display: flex;
  /* flex: auto; */
  flex-wrap: wrap;
  flex-basis: 100%;
  position: relative;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  order: 3;
  /* overflow-y: auto !important;
  overflow-x: auto !important; */
  margin: .5em;
  margin-left: 0 !important;
  margin-right: 0 !important;
  /* min-width: 100%;
  min-height: 100%; */
}

#views_pane .card::-webkit-scrollbar {
  display: none !important;
} 

#views_pane ::-webkit-scrollbar {
  display: none !important;
} 
/* 

/* 
    Card Styling that styles the dynamically
    inserted component containers
*/
.card {
  display: flex;
  flex-basis: auto !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  opacity: 1.8;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  min-height: auto;
  min-width: auto;
  margin: 5px;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .card #map {
  min-width: 25%;
  min-height: 100%;
} */

.card-header {
  display: flex;
  flex: auto;
  flex-basis: auto !important;
  flex-direction: row;
  border-style: hidden;
  align-self: center;
  justify-content: center;
  min-height: auto;
  min-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.card-inner {
  display: flex;
  flex-direction: column;
  visibility: visible;
  display: flex;
  position: relative;
  text-align: center;
  font-size: calc(150%vw * (9/16));
  min-height: auto;
  min-width: auto;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  flex-basis: 100%;
  text-align: center;
  color: black;
  padding: .3em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .card-inner {
  display: flex;
    flex-direction: column;
    color: black;
    margin: 10px;
    text-align: center;
    min-height: auto;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
}
*/  

#plx-card-inner {
  display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin: .5em;
    padding: 1em;
    text-align: center;
    min-height: auto;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.card:last-child {
  margin-bottom: 0px;
  margin-right: auto;
}

#plx-InnerCard {
  flex-direction: column-reverse !important;
}

#plx-InnerCard li {
  min-width: 150px;
  align-items: left;
  justify-content: flex-start;
}



/* scriptWindow and Links inside the inserted cards */

/*Active class adds background color to 
  selected item*/

.active {
  background-color: rgb(27, 127, 170);
  opacity: .65;
  color: white !important;
}

.active:hover {
  background-color:  #ddd !important;
  color:  rgb(27, 127, 170) !important;
}

.inactive {
  display: none !important;
  visibility: hidden !important;
}

.invalid {
  border-color: #F44260;
}

.valid {
  border-color: #47E88C;
}

/* #staticMapPrimaryContainer {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  visibility: visible;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  opacity: 1.7;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  transition: all 0s;
  order: 1;
  overflow: hidden;
} */
/* 
/* #staticInner {
  /* align-self: center; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto !important; */
  /* flex-basis: 100%; */

/* #embedMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
}

*/

.component {
    visibility: hidden;
    flex-basis: auto;
    min-width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    text-align: center;
    visibility: visible;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    opacity: 1.7;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    transition: all 0s;
    order: 1;
    overflow: hidden;
} 

label {
  display: flex;
  text-align: center;
  font-size: calc(90%vw * (9/16))px;
  flex-basis: 100%;
  margin: 2 2 2 2;
  padding: 0 1em 0 0;
}

p {
  display:flex;
  flex-direction: row;
  margin: 5px;
  padding: .5em;
  align-items: center;
  text-align: center;
  clear: right;
}

.input {
  display: flex;
  flex-basis: 100%;
  height: auto;
  overflow: visible;
}

.input::placeholder {
  font-size: 1.3em;
  overflow: visible;
  color:red;
}

/*Wrap components curves*/

.component {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.component.show {
  height: calc(90%vw * (9/16));
  visibility: visible;
  display: flex;
  position: relative;
  text-align: center;
  font-size: calc(10px + .2vw);
}

.component li {
  /* margin: 5px; */
  cursor: pointer;
  /* font-size: 1.1em; */
  text-align: center;
  padding: 12px 16px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Change color of dropdown li items on hover */

.component li:hover {
  background-color: #ddd;
  color:  rgb(27, 127, 170);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.component li:active {
  background-color: purple;
  color: white;
  box-shadow: 0 3px 4px 0 rgba(60, 64, 67, 0.30), 0 5px 12px 2px rgba(60, 64, 67, 0.15);
}

.component li:focus-within li:hover {
  background-color: purple;
  color: white(27, 127, 170);
  opacity: .65;
  box-shadow: 0 3px 4px 0 rgba(60, 64, 67, 0.30), 0 5px 12px 2px rgba(60, 64, 67, 0.15);
}

/* #scriptList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
} */


#secondaryContainer {
  visibility: hidden;
  display: flex;
  /* height: auto; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style-type: none;
  flex-basis: 100%;
  z-index: 1;
  opacity: 1.7;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.30), 0 2px 6px 2px rgbg;
  overflow-wrap: wrap;
} 

#secondaryContainer.show {
  visibility: visible;
  display: flex;
  position: relative;
  text-align: center;
  /* font-size: calc(6px + .2vw); */
  flex-basis: 100%;
  /* min-width: auto; */
  justify-content: space-between;
}

#mapSecondary {
  visibility: visible;
  display: flex;
  position: relative;
  text-align: center;
  /* font-size: .5em; */
  flex-basis: 100%;
  min-width: auto;
  justify-content: space-between;
}

#mapInner {
  display: flex;
  flex-basis: 100%;
  min-width: auto;
  align-items: center;
  justify-content: center;
}
/* Start of Parameters Div */

#params {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  overflow-wrap: wrap;
  flex-direction: column;
  padding: .15em;
}

#parameters {
  display: flex;
  min-width: 300px;
  max-width: auto;
  padding: .2em;
  margin: 0;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.parameter {
  display: flex;
  padding: .5em;
  margin: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
  overflow-wrap: wrap;
}

.innerParam {
  display: flex;
  flex-basis: 100%;
  min-width: auto;
  align-items: center;
  justify-content: center;
}

/* #params {
  display: flex;
  min-width: auto;
  max-width: auto;
  align-self: baseline;
  align-items: center;
  flex-direction: column;
  text-align: center;
} */

/*

#results {
  display: flex;
  flex: auto;
  flex-basis: 2%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  overflow: wrap;
  order: 4;
} 

/* Footer */

footer {
  display: flex;
  flex-basis: .5%;
  flex: auto;
  height: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  opacity: .65;
  bottom: 0;
  padding: 1em;
  text-align: right;
  color: white;
  overflow: hidden;
  order: 5;
  background-color: rgb(27, 127, 170);
  border: .2em solid white;
  border-top: .5em double !important;
  border-bottom: .2em solid !important;
}

footer p {
  display: flex;
  padding: 2em;
  align-content: center;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 2px 2px 0 white, 0 1px 6px 2px white;
}
